@use 'base/variables' as v;
@use 'base/mixins' as m;

.faq {
    width: 80%;
    margin: 0 auto;
    @include m.desktop {
        width: 35%;
    }
    .top-faq {
        margin: 5rem 0;
        h2, p {
            text-align: center;
        }
    }
}

.enlace {
    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            color: v.$softRed;
        }
    }
    img {
        width: 3.7rem;
    }
    .info-faq {
        p {
            text-align: start;
            margin-bottom: 1rem;
        }
    }
}

.enlace {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: .2px solid v.$border;
    .info-faq {
        max-height: 0;
        &.expand {
            max-height: 50rem;
        }
    }
}

.btn-faq {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    button {
        border: 2px solid transparent;
        background-color: v.$softBlue;
        color: v.$white;
        padding: 1.5rem 3rem;
        border-radius: .8rem;
        &:hover{
            cursor: pointer;
            background-color: v.$white;
            border: 2px solid v.$softBlue;
            color: v.$softBlue;
        }
    }
}